/*http://www.colourlovers.com/palette/482774/dream_magnet*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

span{
    color: #00DFFC;
    
}

div#element {

    position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);

 	text-align: center;
    font-size: 200%;
    overflow-y: visible;
    
    /*font-family: 'Ubuntu', sans-serif;*/

}

div#links a{

	margin: 4px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;

	padding: 8px;
    font-size: 24pt;
/*	border-radius: 8px;*/
/*	background-color: #FFB03B;*/
	color: #00DFFC;
}

div#links a:hover{
	color: #008C9E;
}

/*
@font-face {
    font-family: FontAwesome;
    src: url("/fonts/FontAwesome.otf") format("opentype");
}
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-y: hidden;
    font-family: 'Ubuntu', sans-serif;
    background-color: #343838;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#links {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;

    
}

#links a{
    float: right;
}

#basic {

}


/*
#input:before{
    content: '> ';
    margin-left:-30px;
    line-height: 1.618em;
}
*/


#input {
    background-color: #343838; /*debug here */

    width: 60%;
    height: 1.618em;
    display: block;

    position: absolute;
    bottom:0;
    left:40px;
    
    line-height: 1.618em;
    vertical-align: middle;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 1.618em;
    padding: calc((2em-1.618em)/2);
/*    padding-left: 50px;*/
    text-decoration: none;
    
    color:  #00DFFC;
/*    overflow-y: hidden;*/

    

}

#footer {
    margin:0px;
    display:inline-block;
}

#hack:before{
    content:'>';
}

#hack {
    background-color:#343838;
    width:0.809em;
    height:1.618em;
    display:block;
    position:absolute;
    bottom: 0;
    left:0;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 1.618em;
    color: #00DFFC;
/*    padding: calc((2em-1.618em)/2);*/
    padding-left: .9em;

    line-height: 1.618em;

}

#header {
    overflow-y: visible;
}
